h1 {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 45px;
	text-align:center;
	font-weight: normal;
	font-style: italic;
}

.saint-article {
	font-size: 35px;
}

img {
	width: 400px;
	height: 550px;
	padding: 5px;
	border-radius: 3%;
	float: left;
}
